@charset "UTF-8";

@media only screen and (min-width: 768px) {
    #logo{
        margin-left: 20px;
        display: block;
        width: 130px;
    }
    
    #menu{
        display: none;
    }
    
    #nav{
        display: block !important;
    }
    
    #menu-list{
        display: flex;
        position: relative;
        top: -80px;
        flex-direction: row;
        justify-content: end;    
        gap: 40px;
        padding: 10px;
        margin-right: 20px;
    }
    
    #menu-item{
        cursor: pointer;
        color: white;
        text-decoration: none;
        font-size: 1.4rem;
    }
    
    #menu-item:hover{
        background-color: black;
    }
    
}

@media only screen and (min-width: 992px) {
    #logo{
        margin-left: 20px;
        display: block;
        width: 130px;
    }
    
    #menu{
        display: none;
    }
    
    #nav{
        display: block !important;
    }
    
    #menu-list{
        display: flex;
        position: relative;
        top: -80px;
        flex-direction: row;
        justify-content: end;    
        gap: 40px;
        padding: 10px;
        margin-right: 20px;
    }
    
    #menu-item{
        cursor: pointer;
        color: white;
        text-decoration: none;
        font-size: 1.4rem;
    }
    
    #menu-item:hover{
        background-color: black;
    }
}

@media only screen and (min-width: 1200px) {

}